@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        
    </section>
}
<h3>welcome to Vexiere OAuth Service Provider Client</h3>
<br />
please click on login button to login with Vexiere OAuth Service Provider.
 